@import "tailwindcss";

@theme {
  --color-black-absolute: #000000;
  --color-graphite: #0a0a0a;
  --color-graphite-light: #1c1c1e;
  --color-gold: #cc4f33;
  --color-gold-hover: #e06042;
  --color-clay: #cc4f33;
  --color-clay-light: #e06042;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-black-absolute text-[#F5F5F7] font-sans antialiased selection:bg-clay selection:text-white overflow-x-hidden;
  }
  
  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-black-absolute;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}

@layer utilities {
  .mask-image-linear {
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  .glass-card {
    @apply bg-graphite-light border border-white/5;
  }
  .glass-card-hover {
    @apply hover:bg-[#2c2c2e] hover:border-white/10 transition-colors duration-200;
  }
}
